
.text{
    border: 2px red solid;
    width: 100%;
    clear:both;
    overflow: auto;
}
.paragraf{
    border: 3px green solid;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    padding: 15px;
}
.poze{
    border: 3px green solid;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    padding: 15px;
}
div{
    float: left;
}