body{
background-color: black;
}
html{ 
height: 100%;
}
*{ 
  margin: 0;
  padding: 0;
}
ul {
    list-style-type:none;
    margin: 50px;
    padding: 25px;
    overflow: auto;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    font-family: 'Dancing Script', cursive;
  }
  